server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO:none}
      properties:
        hibernate.jdbc.lob.non_contextual_creation: true
        hibernate.generate_statistics: false
        hibernate.temp.use_jdbc_metadata_defaults: false
    show-sql: false

  main:
    allow-bean-definition-overriding: true

  mail:
    host: smtp.gmail.com
    port: 465
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: false
          ssl:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

app:
  client:
    url: ${CLIENT_URL}
    reset-password-url: ${RESET_PASSWORD_URL:${app.client.url}/reset-password}

jwt:
  secret: ${JWT_SECRET}
  refreshExpirationMs: ${JWT_REFRESH_EXPIRATION_MS:1800000}

tebi:
  endpoint: https://s3.tebi.io
  bucket: ${TEBI_BUCKET_NAME}
  access-key: ${TEBI_ACCESS_KEY}
  secret-key: ${TEBI_SECRET_KEY}
  region: us-east-1

branding:
  default-logo-url: https://s3.tebi.io/${TEBI_BUCKET_NAME}/logos/default-gst-medicose.png
