server:
  port: ${PORT:3000}

spring:
  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/billing_and_stock_management}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  client:
    url: ${CLIENT_URL:http://localhost:4200/}
    reset-password-url: ${RESET_PASSWORD_URL:${app.client.url}/reset-password}

jwt:
  secret: ${JWT_SECRET:dev-secret}
  refreshExpirationMs: ${JWT_REFRESH_EXPIRATION_MS:1800000}

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

tebi:
  endpoint: https://s3.tebi.io
  bucket: ${TEBI_BUCKET_NAME}
  access-key: ${TEBI_ACCESS_KEY}
  secret-key: ${TEBI_SECRET_KEY}
  region: us-east-1

branding:
  default-logo-url: https://s3.tebi.io/${TEBI_BUCKET_NAME}/logos/default-gst-medicose.png

