name: Deploy to Oracle Cloud

on:
  push:
    branches: [ master ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: 80.225.210.133
          username: opc
          key: ${{ secrets.OCI_SSH_KEY }}
          script: |
            cd ~/billing-and-stock-management-app-backend
            git pull origin master
            docker build -t billing-app .
            docker stop billing-backend || true
            docker rm billing-backend || true
            docker run -d \
              --name billing-backend \
              -p 8080:8080 \
              --env-file .env \
              --restart always \
              -e "JAVA_OPTS=-Xmx512m -Xms256m" \
              billing-app